.box {
  border-radius: 10px;
  color: #a7bae5 !important;
}
.nut-tabpane {
  width: 100%;
  flex-shrink: 0;
  display: block;
  background-color: #cfe4ff !important;
  padding: 24px 20px;
  box-sizing: border-box;
  overflow: auto;
}
